header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

header a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #0290ff;
  line-height: normal;
}

.navContainer,
nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav {
  text-transform: uppercase;
  font-size: 0.813rem;
}
